{% extends "layout.html" %}
{% block content %}
    <br><br><br>
    <h1>Metrics</h1>

    <ul> 
      <li><h3> Nombre de répondants : {{ nb_answers }} </h3></li>
      <li align = "right"><a href="{{ url_for('logout') }}"> Se déconnecter </a></li>
    </ul>

    <div class="row">
        <hr>
        <div class=page>
          <h3>~~ 10 meilleurs scores ~~</h3>
          {% for table in tables %}
            {{ table[0] }}{{ "  "}}{{ table[1]}}<br />
          {% endfor %}

        </div>
<div class="row" align = "center">
           <h3>Le Pays le plus reconnu est  : {{nom_pays}}</h3>
   
<img src="/static/images/{{image}}" alt="pic1">
</div>



{% endblock %}